body {
  background-color: rgb(66, 169, 204);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  color: green ;
  background-color: rgb(231, 109, 64);
  border-color: black;
 
}

table {
  background-color: green;
}